<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <style>
        body{
            background-color: black;
            color: aliceblue;
        }
    </style>

    <label>Tu nombre</label>
    <input type="text"  id="nombre">
    <label >Apellido</label>
    <input type="text" id="apellido">
    <button onclick="guardarDatos()">Guardar</button>


    <script src="{{url_for('static', filename='js/datos.js')}}"></script>  
    
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


</body>
</html>